@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* --------------- Reset styles --------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #13180a;
}

.main-container {
    background-color: olivedrab;
    margin: 5% 10%;
    padding: 2%;
}

/* --------------- Header --------------- */

header h1 {
    text-align: center;
}

header q {
    display: block;
    text-align: justify;
    padding: 2vw;
}

.game-name,
.game-show,
.host,
.posed-name {
    font-weight: bold;
}


/* --------------- Main game section --------------- */

.the-game {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 10px;
}

aside {
    padding: 100px 0;
}

aside span {
    display: block;
    padding: 1vw 0;
    text-align: center;
}

aside img {
    width: 100%;
}


h2,
h3 {
    text-align: center;
    padding: 1vw 0;
}


.game-intro p {
    padding: 1vw 0;
    text-align: center;
}



.doors-section>* {
    text-align: center;
    padding: 1vw 0;
}

.doors {
    display: flex;
    align-items: center;
    column-gap: 1vw;
}

.doors p {
    text-align: center;
}

.doors button {
    position: relative;
    cursor: pointer;
    background-color: olivedrab;
    border: none;
}

.door {
    width: 100%;
}

.door-mark {
    display: none;
    position: absolute;
    top: 32%;
    left: 32%;
    width: 36%;
}

.info>*,
.stick-or-switch,
#reset-data {
    display: none;
}

.info p {
    margin: 10px;
}


.final-result {
    width: 50%;
    margin: 0 auto;
    display: none;
}

.final-result img {
    width: 100%;
}

.data {
    margin-top: 2vw;
}

.data p {
    padding: 0.5vw;
    text-align: center;
}


#new-game,
#reset-data,
#random-button,
.stick-or-switch button {
    margin: 0 1vw;
    padding: 0.5vw 2vw;
    background-color: olivedrab;
    border: solid 1px #13180a;
    border-radius: 2vw;
    cursor: pointer;
}

#new-game:hover,
#reset-data:hover,
#random-button:hover,
.stick-or-switch button:hover {
    color: olivedrab;
    background-color: #13180a;
}

#new-game {
    display: block;
    margin: 0 auto;
}


#reset-data {
    margin: 1vw auto;
}


/* --------------- Random game section --------------- */

.random {
    text-align: center;
    margin: 5vw 0;
    border-top: 1px solid silver;
}

.random>* {
    margin: 1vw;
}

/* --------------- Explanation section --------------- */

.explanation {
    text-align: center;
    border-top: 1px solid silver;
}

.explanation>* {
    margin: 2vw;
}

.explanation p {
    width: 70%;
    margin: 0 auto;
    text-align: center;

}

.doors-before-pick,
.doors-after-pick {
    display: flex;
    width: 50%;
    margin: 2vw auto;
    gap: 5%;
}

.explain-door {
    position: relative;
}

.explain-door>img {
    width: 100%;
}

.door-marker {
    position: absolute;
    width: 40%;
    top: 30%;
    left: 30%;
}

/* --------------- Footer --------------- */

footer {
    text-align: center;
    padding-top: 2vw;
    border-top: 1px solid silver;
}